*{
    margin : auto auto;
    background: url('https://cdn.dribbble.com/users/32512/screenshots/4787574/light_ai_design_by_gleb.gif');
    background-size: 1240px 550px;
    color: blanchedalmond;
}

.main{
   
    text-align: center;
    margin: auto;
    position: relative;
    top: 120px;
    left : 80px;
    outline-width: 20px;
    outline-color: rgba(241, 74, 74, 0.5);
    outline-style: outset;
    border : 2px solid black;
    width: 200px;
    height: 200px;
    padding :30px;
    
}
.b1{
    position: relative;
    top: 55px;
    margin-left: 10px;

}
.b2{
    position: relative;
    top: 55px;
    margin-left: 10px;

}
.b3{
    position: relative;
    top: 55px;
    margin-left: 10px;
}
.b4{
    position: relative;
    top: 55px;
    margin-left: 10px;

}