.comp{
    position:relative;
    top:100px;
    left:100px;
    width: 280px;
    height:278px;
   
    border: 5px solid black;
}
.Box1{
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-flex;
    float: left;
    display: inline-block;





}


.Box1:nth-child(odd){
    background-color: wheat;
}
.Box1:nth-child(even){
    background-color: black;
}

.Box{
    width: 35px;
    height: 35px;
    position: relative;
    display: inline-flex;
    float: left;
    display: inline-block;
    border-collapse: collapse;


display: inline-block;

}
.Box:nth-child(odd){
    background-color: black;
}
.Box:nth-child(even){
    background-color: wheat;
}

